*.vscode
*__pycache__
*.pyc
*.DS_Store*
build/
server/images/
.DS_Store
*.idea/
autonomous/generate_dataset/pics/*
postman_import.json
*.zip
*.pt
*.pyo
client/dist/
client/build/
client/byu_auvsi_imaging_client.egg-info/